/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
}

.title{
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.logo img {
    max-width: 70%; /* O logo ocupará no máximo 100% do espaço disponível */
    height: auto; /* Mantém a proporção original do logo */
    padding-left: 0;
}
@media (max-width: 768px) {
    /* Estilos para telas menores */
    .logo img {
        width: 70%;
        height: auto;
    }
}

@media (min-width: 769px) {
    /* Estilos para telas médias */
    .logo img {
        width: 40%;
        height: auto;
    }
}


.content {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.left-panel, .right-panel {
    flex: 1;
}

.left-panel h2, .right-panel h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.left-panel p {
    font-size: 16px;
}

.right-panel ul {
    list-style: none;
}

.right-panel li {
    font-size: 16px;
    margin-bottom: 10px;
}

.contact {
    background-color: #f4f4f4;
    text-align: center;
    padding: 40px;
}

#contact-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.back-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
    background-color: #004c7f;
}
